<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.service.mapper.DouUserMapper">

    <resultMap type="DouUser" id="DouUserResult">
        <result property="id"    column="id"    />
        <result property="wxName"    column="wx_name"    />
        <result property="wxOpenid"    column="wx_openid"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="avatar"    column="avatar"    />
        <result property="registerIp"    column="register_ip"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="lastLoginIp"    column="last_login_ip"    />
        <result property="level"    column="level"    />
        <result property="parseNum"    column="parse_num"    />
        <result property="tokens"    column="tokens"    />
    </resultMap>

    <sql id="selectDouUserVo">
        select id, wx_name, wx_openid, username, password, update_time, create_time, avatar,register_ip,login_ip,last_login_ip,level,parse_num,tokens from dou_user
    </sql>

    <select id="selectDouUserList" parameterType="DouUser" resultMap="DouUserResult">
        <include refid="selectDouUserVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="wxName != null  and wxName != ''"> and wx_name like concat('%', #{wxName}, '%')</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
        order By id Desc
    </select>

    <select id="selectDouUserById" parameterType="Long" resultMap="DouUserResult">
        <include refid="selectDouUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertDouUser" parameterType="DouUser" useGeneratedKeys="true" keyProperty="id">
        insert into dou_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxName != null">wx_name,</if>
            <if test="wxOpenid != null">wx_openid,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="avatar != null">avatar,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wxName != null">#{wxName},</if>
            <if test="wxOpenid != null">#{wxOpenid},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="avatar != null">#{avatar},</if>
         </trim>
    </insert>

    <update id="updateDouUser" parameterType="DouUser">
        update dou_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="wxName != null">wx_name = #{wxName},</if>
            <if test="wxOpenid != null">wx_openid = #{wxOpenid},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDouUserById" parameterType="Long">
        delete from dou_user where id = #{id}
    </delete>

    <delete id="deleteDouUserByIds" parameterType="String">
        delete from dou_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>